@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
$main-font: "Roboto", sans-serif;
$font-regular: 400;
$font-bold: 600;

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
$special-font: "Luckiest Guy", cursive;

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
$main-title: "Fredoka One", cursive;
